[submodule "doge-v5/vendor/Rlyehian-Cthuvian-Translator"]
	path = doge-v5/vendor/Rlyehian-Cthuvian-Translator
	url = https://github.com/ChouYuanjue/Rlyehian-Cthuvian-Translator.git
[submodule "doge-v5/vendor/codly"]
	path = doge-v5/plugins/doge_shared/vendor/codly
	url = https://github.com/Dherse/codly.git
[submodule "doge-v5/plugins/doge_ai/vendor/micrograd"]
	path = doge-v5/plugins/doge_ai/vendor/micrograd
	url = https://github.com/karpathy/micrograd.git
[submodule "doge-v5/plugins/doge_ai/vendor/minbpe"]
	path = doge-v5/plugins/doge_ai/vendor/minbpe
	url = https://github.com/karpathy/minbpe.git
[submodule "doge-v5/plugins/doge_cs/vendor/pyformlang"]
	path = doge-v5/plugins/doge_cs/vendor/pyformlang
	url = https://github.com/Aunsiels/pyformlang.git
[submodule "doge-v5/plugins/doge_games/vendor/minesweeper_upstream"]
	path = doge-v5/plugins/doge_games/vendor/minesweeper_upstream
	url = git@github.com:Zhalslar/astrbot_plugin_minesweeper.git
[submodule "doge-v5/plugins/doge_games/vendor/dnddice_upstream"]
	path = doge-v5/plugins/doge_games/vendor/dnddice_upstream
	url = git@github.com:Dracowyn/astrbot_plugin_dnd_dice.git
[submodule "doge-v5/plugins/doge_games/vendor/pysudoku_upstream"]
	path = doge-v5/plugins/doge_games/vendor/pysudoku_upstream
	url = git@github.com:jeffsieu/py-sudoku.git
[submodule "doge-v5/plugins/doge_media/vendor/mirage_upstream"]
	path = doge-v5/plugins/doge_media/vendor/mirage_upstream
	url = git@github.com:Yuzi-Liang/astrbot_plugin_mirage_tank.git
[submodule "doge-v5/external_plugins/astrbot_plugin_meme_generator"]
	path = doge-v5/external_plugins/astrbot_plugin_meme_generator
	url = https://github.com/SodaSizzle/astrbot_plugin_meme_generator.git
[submodule "doge-v5/external_plugins/astrbot_plugin_group_chat_plus"]
	path = doge-v5/external_plugins/astrbot_plugin_group_chat_plus
	url = https://github.com/Him666233/astrbot_plugin_group_chat_plus.git
[submodule "doge-v5/external_plugins/astrbot_plugin_stealer"]
	path = doge-v5/external_plugins/astrbot_plugin_stealer
	url = https://github.com/nagatoquin33/astrbot_plugin_stealer.git
