aiocqhttp==1.4.4
aiodocker==0.24.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
anthropic==0.65.0
anyio==4.10.0
APScheduler==3.11.0
-e git+https://gitclone.com/github.com/AstrBotDevs/AstrBot@2c4fd00b16ed42c081372889517979ed3a6b1975#egg=AstrBot
asttokens==3.0.0
async-timeout==5.0.1
asyncio-dgram==2.2.0
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
backports.asyncio.runner==1.2.0
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.8.3
cffi==1.17.1
chardet==5.1.0
charset-normalizer==3.4.3
click==8.2.1
cobble==0.1.4
colorlog==6.9.0
commonX==0.6.38
contourpy==1.3.2
courlan==1.3.2
coverage==7.10.6
cryptography==45.0.7
cssselect==1.3.0
cssselect2==0.8.0
cube-rs==0.1.0
curl_cffi==0.13.0
cycler==0.12.1
dashscope==1.24.2
dateparser==1.2.2
decorator==5.2.1
defusedxml==0.7.1
Deprecated==1.2.18
dingtalk-stream==0.24.2
distro==1.9.0
dnspython==2.7.0
docopt==0.6.2
docstring_parser==0.17.0
emoji==1.7.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
faiss-cpu==1.10.0
fastapi==0.116.1
fastjsonschema==2.21.2
filelock==3.19.1
Flask==3.1.2
fonttools==4.59.0
frozenlist==1.7.0
google-auth==2.40.3
google-genai==1.32.0
googlesearch-python==1.3.0
greenlet==3.2.4
grpcio==1.74.0
h11==0.16.0
h2==4.3.0
hdbscan==0.8.40
hpack==4.1.0
htmldate==1.9.3
httpcore==1.0.9
httpx==0.28.1
httpx-sse==0.4.1
Hypercorn==0.17.3
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
img2pdf==0.6.1
iniconfig==2.1.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter==0.10.0
jmcomic==2.6.5
joblib==1.5.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jusText==3.0.2
kiwisolver==1.4.9
langchain==0.3.27
langchain-core==0.3.75
langchain-text-splitters==0.3.11
langsmith==0.4.21
lark-oapi==1.4.22
lxml==6.0.1
lxml_html_clean==0.4.2
mammoth==1.10.0
markdownify==1.2.0
markitdown-no-magika==0.1.2
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mcp==1.12.4
mcstatus==12.0.5
meme_generator==0.2.2
mermaid-py==0.8.0
milvus-lite==2.5.1
mistletoe==1.4.0
mistune==3.1.4
moviepy==2.2.1
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.2.6
openai==1.103.0
opencv-python==4.12.0.88
openpyxl==3.1.5
optionaldict==0.1.2
orjson==3.11.3
ormsgpack==1.10.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.1
pandocfilters==1.5.1
parso==0.8.5
pdfminer.six==20250506
pexpect==4.9.0
pickleshare==0.7.5
pikepdf==9.10.2
pillow==11.3.0
pilmoji==2.0.4
pipreqs==0.5.0
platformdirs==4.4.0
playwright==1.54.0
pluggy==1.6.0
priority==2.0.0
proglog==0.1.12
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cord==2.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.10.6
pydantic-settings==2.10.1
pydantic_core==2.27.2
pydub==0.25.1
pyee==13.0.0
Pygments==2.19.2
PyJWT==2.10.1
pymilvus==2.6.0
pyparsing==3.2.3
PySocks==1.7.1
pyspellchecker==0.8.3
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-pptx==1.0.2
python-telegram-bot==22.3
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
qq-botpy==1.2.1
Quart==0.20.0
readability-lxml==0.8.4.1
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
requests-toolbelt==1.0.0
rpds-py==0.27.1
rsa==4.9.1
ruff==0.12.11
scikit-learn==1.7.1
scipy==1.15.3
selenium==4.35.0
silk-python==0.2.7
six==1.17.0
slack_sdk==3.36.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
SQLAlchemy==2.0.43
sqlmodel==0.0.24
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.47.3
svgpathtools==1.7.1
svgwrite==1.4.3
taskgroup==0.2.2
telegramify-markdown==0.5.1
tenacity==9.1.2
threadpoolctl==3.6.0
tinycss2==1.4.0
tld==0.13.1
tomli==2.2.1
tornado==6.5.2
tqdm==4.67.1
trafilatura==2.0.0
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typing-inspection==0.4.1
typing_extensions==4.15.0
typst==0.13.5
tzdata==2025.2
tzlocal==5.3.1
ujson==5.10.0
urllib3==2.5.0
uvicorn==0.35.0
volcengine-python-sdk==4.0.13
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wechatpy==1.8.18
Werkzeug==3.1.3
wrapt==1.17.3
wsproto==1.2.0
xlrd==2.0.2
xlsxwriter==3.2.5
xmltodict==0.14.2
yarg==0.1.9
yarl==1.20.1
zstandard==0.24.0
